.container{
    text-align: center;
    margin-top:24px
}
 
table{
    margin: auto;
}
 
input{
    border-radius: 30px;
    font-size:34px;
    height: 65px;
    width: 260px;
    scroll-behavior: smooth;
}
 
button{
    border-radius: 20px;
    font-size: 30px;
    background: #e2e0e2;
    width: 60px;
    height: 50px;
    margin: 6px;
}
 
.calculator{
    background-color: #36c11e;
    padding: 23px;
    border-radius: 20px;
    display: inline-block;
   
}